body, html{
    height: 100%;
}
body{
    background-image: url("../images/light_blue.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.col-md-6{
    background-color: coral;
}
.col-md-3{
    background-color: wheat;
    font-size:xx-large;
}
.image{
        border-radius: 50%;
        width: 125px;
        height: 150px;
}